<ul class="nav justify-content-center text-center">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'blog' %}">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
    </li>
</ul>