{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gentlemen's Barber Shop - HTML CSS Template</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500&display=swap" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-barber-shop.css' %}" rel="stylesheet">
    </head>
    
    <body>

        <div class="container-fluid">
            <div class="row">
                {% include 'layouts/sidebar.html' %}
                <div class="col-md-8 ms-sm-auto col-lg-9 p-0">
                {% block home %}{% endblock home %}
                {% block ourstory %}{% endblock ourstory %}
                {% block service %}{% endblock service %}
                {% block price_list %}{% endblock price_list %}
                {% block contact %}{% endblock contact %}
                </div>
            </div>
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>