* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo {
    width: 80%;
    height: 60vh;
    position: relative;
    left: 135px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-position: 20%;
    background-size: 100%;
}
