<nav id="sidebarMenu" class="col-md-4 col-lg-3 d-md-block sidebar collapse p-0">

    <div class="position-sticky sidebar-sticky d-flex flex-column justify-content-center align-items-center">
        <a class="navbar-brand" href="index.html">
            <img src="images/templatemo-barber-logo.png" class="logo-image img-fluid" align="">
        </a>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link click-scroll" href="{% url 'home' %}">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="{% url 'story' %}">Our Story</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="{% url 'services' %}">Services</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="{% url 'price' %}">Price List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>